<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sceneName</key>
		<string>Space</string>
		<key>sceneImage</key>
		<string>OuterSpace</string>
		<key>sceneCharacterImage</key>
		<string>Astronaut</string>
		<key>itemsList</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>Sun</string>
				<key>itemNamePt</key>
				<string>Sol</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Science</string>
						<key>subjectNamePt</key>
						<string>Ciência</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string>Is the Sun a planet or a star?</string>
								<key>questionPt</key>
								<string>O sol é um planeta ou uma estrela?</string>
								<key>questionValue</key>
								<integer>100</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Star</string>
									<string>Planet</string>
								</array>
								<key>questionChoicesPt</key>
								<array>
									<string>Estrela</string>
									<string>Planeta</string>
								</array>
								<key>questionHint</key>
								<string>Planets orbit around hot celestial bodies called stars.</string>
								<key>questionHintPt</key>
								<string>Planetas orbitam em volta de corpos celestiais quentes chamados estrelas.</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>subjectName</key>
						<string>English</string>
						<key>subjectNamePt</key>
						<string>Portuguese</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string>What is called a group of stars?</string>
								<key>questionPt</key>
								<string>Como se chama um conjunto de estrelas?</string>
								<key>questionValue</key>
								<integer>100</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Constellation</string>
									<string>Galaxy</string>
									<string>Universe</string>
									<string>Solar System</string>
									<string>Nebula</string>
								</array>
								<key>questionChoicesPt</key>
								<array>
									<string>Constelação</string>
									<string>Galáxia</string>
									<string>Universo</string>
									<string>Sistema Solar</string>
									<string>Nébula</string>
								</array>
								<key>questionHint</key>
								<string>Andromeda é um exemplo famoso de grupo de estrelas.</string>
								<key>questionHintPt</key>
								<string>Andromeda is a famous example of a group of stars.</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Earth</string>
				<key>itemNamePt</key>
				<string>Terra</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Science</string>
						<key>subjectNamePt</key>
						<string>Ciência</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string>Is the Sun a planet or a star?</string>
								<key>questionPt</key>
								<string>O sol é um planeta ou uma estrela?</string>
								<key>questionValue</key>
								<integer>100</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Star</string>
									<string>Planet</string>
								</array>
								<key>questionChoicesPt</key>
								<array>
									<string>Estrela</string>
									<string>Planeta</string>
								</array>
								<key>questionHint</key>
								<string>Planets orbit around hot celestial bodies called stars.</string>
								<key>questionHintPt</key>
								<string>Planetas orbitam em volta de corpos celestiais quentes chamados estrelas.</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>subjectName</key>
						<string>English</string>
						<key>subjectNamePt</key>
						<string>Portuguese</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string>What is called a group of stars?</string>
								<key>questionPt</key>
								<string>Como se chama um conjunto de estrelas?</string>
								<key>questionValue</key>
								<integer>100</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Constellation</string>
									<string>Galaxy</string>
									<string>Universe</string>
									<string>Solar System</string>
									<string>Nebula</string>
								</array>
								<key>questionChoicesPt</key>
								<array>
									<string>Constelação</string>
									<string>Galáxia</string>
									<string>Universo</string>
									<string>Sistema Solar</string>
									<string>Nébula</string>
								</array>
								<key>questionHint</key>
								<string>Andromeda é um exemplo famoso de grupo de estrelas.</string>
								<key>questionHintPt</key>
								<string>Andromeda is a famous example of a group of stars.</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sceneName</key>
		<string>Veja nois</string>
		<key>sceneImage</key>
		<string>Personagem</string>
		<key>itemsList</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>Comet</string>
				<key>itemImage</key>
				<string>comet</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string></string>
								<key>questionValue</key>
								<integer>0</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>questionHint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>subjectName</key>
						<string>Biology</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Spaceship</string>
				<key>itemImage</key>
				<string>spaceship</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Planet</string>
				<key>itemImage</key>
				<string>planet</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Satellite</string>
				<key>itemImage</key>
				<string>satellite</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sceneName</key>
		<string>Sapequinha</string>
		<key>sceneImage</key>
		<string>personagem</string>
		<key>itemsList</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>Comet</string>
				<key>itemImage</key>
				<string>comet</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string></string>
								<key>questionValue</key>
								<integer>0</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>questionHint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>subjectName</key>
						<string>Biology</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Spaceship</string>
				<key>itemImage</key>
				<string>spaceship</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Planet</string>
				<key>itemImage</key>
				<string>planet</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Satellite</string>
				<key>itemImage</key>
				<string>satellite</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sceneName</key>
		<string>Outer Space</string>
		<key>sceneImage</key>
		<string>outerspace</string>
		<key>itemsList</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>Comet</string>
				<key>itemImage</key>
				<string>comet</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>subjectName</key>
						<string>Biology</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Spaceship</string>
				<key>itemImage</key>
				<string>spaceship</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Planet</string>
				<key>itemImage</key>
				<string>planet</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Satellite</string>
				<key>itemImage</key>
				<string>satellite</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sceneName</key>
		<string>Outer Space</string>
		<key>sceneImage</key>
		<string>outerspace</string>
		<key>itemsList</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>Comet</string>
				<key>itemImage</key>
				<string>comet</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>subjectName</key>
						<string>Biology</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Spaceship</string>
				<key>itemImage</key>
				<string>spaceship</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Planet</string>
				<key>itemImage</key>
				<string>planet</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Satellite</string>
				<key>itemImage</key>
				<string>satellite</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sceneName</key>
		<string>Outer Space</string>
		<key>sceneImage</key>
		<string>outerspace</string>
		<key>itemsList</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>Comet</string>
				<key>itemImage</key>
				<string>comet</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>subjectName</key>
						<string>Biology</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Spaceship</string>
				<key>itemImage</key>
				<string>spaceship</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Planet</string>
				<key>itemImage</key>
				<string>planet</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Satellite</string>
				<key>itemImage</key>
				<string>satellite</string>
				<key>itemPosX</key>
				<integer>0</integer>
				<key>itemPosY</key>
				<integer>0</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>questionID</key>
								<integer>1</integer>
								<key>Alternatives</key>
								<array>
									<string>Option 1</string>
									<string>Option 2</string>
									<string>Option 3</string>
									<string>Option 4</string>
									<string>Option 5</string>
								</array>
								<key>Hint</key>
								<string>Comets volume depend on...</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
