<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sceneName</key>
		<string>SceneSpace</string>
		<key>sceneImage</key>
		<string>OuterSpace</string>
		<key>sceneCharacterImage</key>
		<string>astronaut</string>
		<key>itemsList</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>Sun</string>
				<key>itemNamePt</key>
				<string>Sol</string>
				<key>itemPosX</key>
				<integer>-120</integer>
				<key>itemPosY</key>
				<integer>350</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Science</string>
						<key>subjectNamePt</key>
						<string>Ciência</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string>Is the Sun a planet or a star?</string>
								<key>questionPt</key>
								<string>O sol é um planeta ou uma estrela?</string>
								<key>questionValue</key>
								<integer>100</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Star</string>
									<string>Planet</string>
								</array>
								<key>questionChoicesPt</key>
								<array>
									<string>Estrela</string>
									<string>Planeta</string>
								</array>
								<key>questionHint</key>
								<string>Planets orbit around hot celestial bodies called stars.</string>
								<key>questionHintPt</key>
								<string>Planetas orbitam em volta de corpos celestiais quentes chamados estrelas.</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>subjectName</key>
						<string>English</string>
						<key>subjectNamePt</key>
						<string>Portuguese</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string>What is called a group of stars?</string>
								<key>questionPt</key>
								<string>Como se chama um conjunto de estrelas?</string>
								<key>questionValue</key>
								<integer>100</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Constellation</string>
									<string>Galaxy</string>
									<string>Universe</string>
									<string>Solar System</string>
									<string>Nebula</string>
								</array>
								<key>questionChoicesPt</key>
								<array>
									<string>Constelação</string>
									<string>Galáxia</string>
									<string>Universo</string>
									<string>Sistema Solar</string>
									<string>Nébula</string>
								</array>
								<key>questionHint</key>
								<string>Andromeda é um exemplo famoso de grupo de estrelas.</string>
								<key>questionHintPt</key>
								<string>Andromeda is a famous example of a group of stars.</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Earth</string>
				<key>itemNamePt</key>
				<string>Terra</string>
				<key>itemPosX</key>
				<integer>450</integer>
				<key>itemPosY</key>
				<integer>380</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Science</string>
						<key>subjectNamePt</key>
						<string>Ciência</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string>Is the Sun a planet or a star?</string>
								<key>questionPt</key>
								<string>O sol é um planeta ou uma estrela?</string>
								<key>questionValue</key>
								<integer>100</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Star</string>
									<string>Planet</string>
								</array>
								<key>questionChoicesPt</key>
								<array>
									<string>Estrela</string>
									<string>Planeta</string>
								</array>
								<key>questionHint</key>
								<string>Planets orbit around hot celestial bodies called stars.</string>
								<key>questionHintPt</key>
								<string>Planetas orbitam em volta de corpos celestiais quentes chamados estrelas.</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>subjectName</key>
						<string>English</string>
						<key>subjectNamePt</key>
						<string>Portuguese</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string>What is called a group of stars?</string>
								<key>questionPt</key>
								<string>Como se chama um conjunto de estrelas?</string>
								<key>questionValue</key>
								<integer>100</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Constellation</string>
									<string>Galaxy</string>
									<string>Universe</string>
									<string>Solar System</string>
									<string>Nebula</string>
								</array>
								<key>questionChoicesPt</key>
								<array>
									<string>Constelação</string>
									<string>Galáxia</string>
									<string>Universo</string>
									<string>Sistema Solar</string>
									<string>Nébula</string>
								</array>
								<key>questionHint</key>
								<string>Andromeda é um exemplo famoso de grupo de estrelas.</string>
								<key>questionHintPt</key>
								<string>Andromeda is a famous example of a group of stars.</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Comet</string>
				<key>itemNamePt</key>
				<string>Cometa</string>
				<key>itemPosX</key>
				<integer>750</integer>
				<key>itemPosY</key>
				<integer>100</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Math</string>
						<key>subjectNamePt</key>
						<string>Ciência</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string>Is the Sun a planet or a star?</string>
								<key>questionPt</key>
								<string>O sol é um planeta ou uma estrela?</string>
								<key>questionValue</key>
								<integer>100</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Star</string>
									<string>Planet</string>
								</array>
								<key>questionChoicesPt</key>
								<array>
									<string>Estrela</string>
									<string>Planeta</string>
								</array>
								<key>questionHint</key>
								<string>Planets orbit around hot celestial bodies called stars.</string>
								<key>questionHintPt</key>
								<string>Planetas orbitam em volta de corpos celestiais quentes chamados estrelas.</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>subjectName</key>
						<string>History</string>
						<key>subjectNamePt</key>
						<string>Portuguese</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string>What is called a group of stars?</string>
								<key>questionPt</key>
								<string>Como se chama um conjunto de estrelas?</string>
								<key>questionValue</key>
								<integer>100</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Constellation</string>
									<string>Galaxy</string>
									<string>Universe</string>
									<string>Solar System</string>
									<string>Nebula</string>
								</array>
								<key>questionChoicesPt</key>
								<array>
									<string>Constelação</string>
									<string>Galáxia</string>
									<string>Universo</string>
									<string>Sistema Solar</string>
									<string>Nébula</string>
								</array>
								<key>questionHint</key>
								<string>Andromeda é um exemplo famoso de grupo de estrelas.</string>
								<key>questionHintPt</key>
								<string>Andromeda is a famous example of a group of stars.</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Spaceship</string>
				<key>itemNamePt</key>
				<string>Espaçonave</string>
				<key>itemPosX</key>
				<integer>490</integer>
				<key>itemPosY</key>
				<integer>150</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Geography</string>
						<key>subjectNamePt</key>
						<string>Ciência</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string>Is the Sun a planet or a star?</string>
								<key>questionPt</key>
								<string>O sol é um planeta ou uma estrela?</string>
								<key>questionValue</key>
								<integer>100</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Star</string>
									<string>Planet</string>
								</array>
								<key>questionChoicesPt</key>
								<array>
									<string>Estrela</string>
									<string>Planeta</string>
								</array>
								<key>questionHint</key>
								<string>Planets orbit around hot celestial bodies called stars.</string>
								<key>questionHintPt</key>
								<string>Planetas orbitam em volta de corpos celestiais quentes chamados estrelas.</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>subjectName</key>
						<string>Mithology</string>
						<key>subjectNamePt</key>
						<string>Portuguese</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string>What is called a group of stars?</string>
								<key>questionPt</key>
								<string>Como se chama um conjunto de estrelas?</string>
								<key>questionValue</key>
								<integer>100</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Constellation</string>
									<string>Galaxy</string>
									<string>Universe</string>
									<string>Solar System</string>
									<string>Nebula</string>
								</array>
								<key>questionChoicesPt</key>
								<array>
									<string>Constelação</string>
									<string>Galáxia</string>
									<string>Universo</string>
									<string>Sistema Solar</string>
									<string>Nébula</string>
								</array>
								<key>questionHint</key>
								<string>Andromeda é um exemplo famoso de grupo de estrelas.</string>
								<key>questionHintPt</key>
								<string>Andromeda is a famous example of a group of stars.</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Satellite</string>
				<key>itemNamePt</key>
				<string>Satélite</string>
				<key>itemPosX</key>
				<integer>720</integer>
				<key>itemPosY</key>
				<integer>490</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Art</string>
						<key>subjectNamePt</key>
						<string>Ciência</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string>Is the Sun a planet or a star?</string>
								<key>questionPt</key>
								<string>O sol é um planeta ou uma estrela?</string>
								<key>questionValue</key>
								<integer>100</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Star</string>
									<string>Planet</string>
								</array>
								<key>questionChoicesPt</key>
								<array>
									<string>Estrela</string>
									<string>Planeta</string>
								</array>
								<key>questionHint</key>
								<string>Planets orbit around hot celestial bodies called stars.</string>
								<key>questionHintPt</key>
								<string>Planetas orbitam em volta de corpos celestiais quentes chamados estrelas.</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>subjectName</key>
						<string>ED</string>
						<key>subjectNamePt</key>
						<string>Portuguese</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string>What is called a group of stars?</string>
								<key>questionPt</key>
								<string>Como se chama um conjunto de estrelas?</string>
								<key>questionValue</key>
								<integer>100</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Constellation</string>
									<string>Galaxy</string>
									<string>Universe</string>
									<string>Solar System</string>
									<string>Nebula</string>
								</array>
								<key>questionChoicesPt</key>
								<array>
									<string>Constelação</string>
									<string>Galáxia</string>
									<string>Universo</string>
									<string>Sistema Solar</string>
									<string>Nébula</string>
								</array>
								<key>questionHint</key>
								<string>Andromeda é um exemplo famoso de grupo de estrelas.</string>
								<key>questionHintPt</key>
								<string>Andromeda is a famous example of a group of stars.</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>itemName</key>
				<string>Moon</string>
				<key>itemNamePt</key>
				<string>Lua</string>
				<key>itemPosX</key>
				<integer>285</integer>
				<key>itemPosY</key>
				<integer>225</integer>
				<key>subjectsList</key>
				<array>
					<dict>
						<key>subjectName</key>
						<string>Art</string>
						<key>subjectNamePt</key>
						<string>Ciência</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string>Is the Sun a planet or a star?</string>
								<key>questionPt</key>
								<string>O sol é um planeta ou uma estrela?</string>
								<key>questionValue</key>
								<integer>100</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Star</string>
									<string>Planet</string>
								</array>
								<key>questionChoicesPt</key>
								<array>
									<string>Estrela</string>
									<string>Planeta</string>
								</array>
								<key>questionHint</key>
								<string>Planets orbit around hot celestial bodies called stars.</string>
								<key>questionHintPt</key>
								<string>Planetas orbitam em volta de corpos celestiais quentes chamados estrelas.</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>subjectName</key>
						<string>ED</string>
						<key>subjectNamePt</key>
						<string>Portuguese</string>
						<key>questionsList</key>
						<array>
							<dict>
								<key>question</key>
								<string>What is called a group of stars?</string>
								<key>questionPt</key>
								<string>Como se chama um conjunto de estrelas?</string>
								<key>questionValue</key>
								<integer>100</integer>
								<key>questionID</key>
								<integer>1</integer>
								<key>questionChoices</key>
								<array>
									<string>Constellation</string>
									<string>Galaxy</string>
									<string>Universe</string>
									<string>Solar System</string>
									<string>Nebula</string>
								</array>
								<key>questionChoicesPt</key>
								<array>
									<string>Constelação</string>
									<string>Galáxia</string>
									<string>Universo</string>
									<string>Sistema Solar</string>
									<string>Nébula</string>
								</array>
								<key>questionHint</key>
								<string>Andromeda é um exemplo famoso de grupo de estrelas.</string>
								<key>questionHintPt</key>
								<string>Andromeda is a famous example of a group of stars.</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
